<p>
    <label for="{{ id|e('html_attr') }}">
        {{ label|e }}
        <input id="{{ id|e('html_attr') }}" type="text" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}"{% if class %} class="{{ class|e('html_attr') }}"{% endif %} placeholder="{{ placeholder|e('html_attr') }}">
    </label>
    {% if help %}
    <small>{{ help|e }}</small>
    {% endif %}
</p>