<p>
    <label for="{{ id|e('html_attr') }}">
        {{ label|e }}
        <input id="{{ id|e('html_attr') }}" type="number" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}" class="{{ class|e('html_attr') }}" max="{{ max|e('html_attr') }}" min="{{ min|e('html_attr') }}">
    </label>
    {% if help %}
    <small>{{ help|e }}</small>
    {% endif %}
</p>