{% extends "base.twig" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="author">
            <a href="{{ author.link|relative }}" rel="author">
                <h3 class="author-name">{{ author.name }}</h3>
                <img src="{{ author.thumbnail.src }}" alt="{{ author.name }}">
            </a>
            {% if(author.description) %}
            <div class="author-description">
                {{ author.description }}
            </div>
            {% endif %}
        </div>
    </div>
    {% for post in posts %}
        {% if loop.index0 is even %}
            <div class="row">
        {% endif %}
        {%  block post_preview %}
            <div class="col-md-6">
                {% include 'post-preview.twig' %}
            </div>
        {% endblock %}
        {% if loop.index0 is odd or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}