<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
{% block head %}
{% include 'head.twig' %}
{% endblock %}
<body class="{{ body_class }}">
    <div id="wrap">
        <noscript>{{ __("Your browser does not support JavaScript!", THEMENAME) }}</noscript>
        {% block header %}
        <header id="header">
            {% include 'header.twig' %}
        </header>
        {% endblock %}
        <main>
            {% block main %}
                {{  __("Sorry, there is no content to display!", THEMENAME) }}
            {% endblock %}
        </main>
    </div>
    {% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {% endblock %}
    {{ wp_footer }}
</body>
</html>