<!-- brand -->
<a href="/" title="{{ __("Return to the %s homepage", THEMENAME)|format(site.name|e('html_attr')) }}" rel="home" class="brand">
    {% if site.logo_svg %}
        {{ site.logo_svg }}
    {% elseif site.logo %}
        <img src="{{ site.logo|relative }}" alt="{{ site.name|e('html_attr') }}" class="logo">
    {% else %}
        {{ site.name|e }}
    {% endif %}
</a>