<div id="{{ id }}" class="carousel slide {{ class }}" data-ride="carousel">
    <!-- indicators -->
    <ol class="carousel-indicators">
    {% for slide in slides %}
        <li data-target="#{{ id }}" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
    {% endfor %}
    </ol>

    <!-- slides -->
    <div class="carousel-inner" role="listbox">
        {% for slide in slides %}
        <div class="item{% if loop.index == 1 %} active{% endif %}">
            {% if slide.slide_url %}
            <a href="{{ slide.slide_url }}" title="{{ slide.post_title }}">
            {% endif %}
                <div class="focuspoint" data-focus-x="{{ slide.x_focus|default(0) }}" data-focus-y="{{ slide.y_focus|default(0) }}" data-image-w="{{ slide.width }}" data-image-h="{{ slide.height }}">
                    <img src="{{ slide.thumbnail.src(slide.width, slide.height)|relative }}" alt="{{ slide.post_title }}" srcset="
                        {{ slide.thumbnail.src(slide.width, slide.height)|relative|retina(1) }} 1x,
                        {{ slide.thumbnail.src(slide.width, slide.height)|relative|retina(2) }} 2x,
                        {{ slide.thumbnail.src(slide.width, slide.height)|relative|retina(3) }} 3x,
                        {{ slide.thumbnail.src(slide.width, slide.height)|relative|retina(4) }} 4x">
                </div>
            {% if slide.slide_url %}
            </a>
            {% endif %}
            <div class="carousel-caption">
                <h2 class="carousel-title">
                    {% if slide.slide_url %}
                    <a href="{{ slide.slide_url }}" title="{{ slide.post_title }}">
                    {% endif %}
                    {{ slide.post_title }}
                    {% if slide.slide_url %}
                    </a>
                    {% endif %}
                </h2>
                {% if slide.content %}
                <p class="carousel-content">{{ slide.content }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- controls -->
    <a class="left carousel-control" href="#{{ id }}" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">{{ __(previous)|default("&lt;") }}</span>
    </a>
    <a class="right carousel-control" href="#{{ id }}" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">{{ __(next)|default("&gt;") }}</span>
    </a>
</div>