<div class="contact-details" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ fn('get_bloginfo', 'name')|e('html_attr') }}">
    <meta itemprop="sameAs" content="{{ fn('get_bloginfo', 'url') }}">
    {% if title %}{{ before_title }}{{ __(title, THEMENAME) }}{{ after_title }}{% endif %}
    <dl>
        {% if address %}
        <dt class="address">{{ __("Address", THEMENAME) }}</dt>
        <dd>
            {% if name %}<h4 itemprop="legalName" class="name">{{ name }}</h4>{% endif %}
            <address itemprop="address">
                {% for line in address %}
                    {{ line.line }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </address>
        </dd>
        {% endif %}
        {% for contact_number in contact_numbers %}
            {% if contact_number.type|lower == 'fax' %}
                <dt class="fax">{{ __("Fax", THEMENAME) }}</dt>
                <dd>{% if contact_number.callto %}<a href="fax:{{ contact_number.callto }}" itemprop="faxNumber" title="{{ __("Fax", THEMENAME) }}">{% endif %}{{ contact_number.number }}{% if contact_number.callto %}</a>{% endif %}</dd>
            {% endif %}
            {% if contact_number.type|lower == 'phone' %}
                <dt class="phone">{{ __("Phone", THEMENAME) }}</dt>
                <dd>{% if contact_number.callto %}<a href="tel:{{ contact_number.callto }}" itemprop="telephone" title="{{ __("Telephone", THEMENAME) }}">{% endif %}{{ contact_number.number }}{% if contact_number.callto %}</a>{% endif %}</dd>
            {% endif %}
        {% endfor %}
        {% for email in email_addresses %}
            <dt class="email">{{ __("E-mail", THEMENAME) }}</dt>
            <dd><a href="mailto:{{ email.email }}" itemprop="email" title="{{ __("E-mail", THEMENAME) }}">{{ email.email }}</a></dd>
        {% endfor %}
    </dl>
</div>