<!-- gallery -->
<div id="{{ id|e('html_attr') }}" class="gallery magnific-popup {{ class|e('html_attr') }}">
    <div class="row">
        {% for thumbnail in thumbnails %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a class="thumbnail" href="{{ thumbnail.src|e('html_attr') }}">
                <img src="{{ thumbnail.src|resize(400, 300)|relative|e('html_attr') }}" alt="{{ thumbnail.post_title|e('html_attr') }}" class="img-responsive"{% if thumbnail.caption %} title="{{ thumbnail.caption }}"{% endif %}>
            </a>
        </div>
        {% endfor %}
    </div>
</div>