<head>
    <title>{{ function('wp_title', '|', false, 'right') }}</title>
    <meta name="description" content="{{ meta_description() }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords|e('html_attr') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ site.stylesheet|relative }}" media="all">
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.theme_color %}
        <meta name="theme-color" content="{{ site.theme_color|e('html_attr') }}">
    {% endif %}
    {% if site.google_verification_code %}
    <meta name="google-site-verification" content="{{ site.google_verification_code|e('html_attr') }}">
    {% endif %}
    {% if site.bing_verification_code %}
    <meta name="msvalidate.01" content="{{ site.bing_verification_code|e('html_attr') }}">
    {% endif %}
    <link rel="pingback" href="{{ site.pingback_url }}">
    {% if WEB_AUTHOR %}
    <meta name="web_author" content="{{ WEB_AUTHOR|e('html_attr') }}">
    {% endif %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- wp head -->
    {{ wp_head }}
    {% block after_wp_head %}{% endblock %}
</head>