<head {{ site.language_attributes }}>
    <title>{{ function('wp_title', '|', false, 'right') }}</title>
    <meta name="description" content="{{ meta_description() }}" />
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords|e('html_attr') }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ site.stylesheet|e('html_attr') }}" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset|e('html_attr') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if site.google_verification_code %}
    <meta name="google-site-verification" content="{{ site.google_verification_code|e('html_attr') }}" />
    {% endif %}
    {% if site.bing_verification_code %}
    <meta name="msvalidate.01" content="{{ site.bing_verification_code|e('html_attr') }}" />
    {% endif %}
    <link rel="pingback" href="{{ site.pingback_url|e('html_attr') }}" />
    {% if WEB_AUTHOR %}
    <meta name="web_author" content="{{ WEB_AUTHOR }}" />
    {% endif %}
    <!-- wp head -->
    {{ wp_head }}
</head>