{% set image = TimberImage(image) %}

{{ before_widget }}
    {% if title  %}{{ before_title }}{{ title }}{{ after_title }}{% endif %}
    {% if link %}<a href="{{ link }}"{% if new %} target="_blank"{% endif %}>{% endif %}
        <img src="{{ image.src|relative }}" alt="{{ caption|default(title)|default(image.caption) }}">
        {% if caption %}<span>{{ caption }}</span>{% endif %}
    {% if link %}</a>{% endif %}
{{ after_widget }}