<div class="mailchimp-signup">
    {% if title  %}
    <h4>{{ before_title }}{{ title }}{{ after_title }}</h4>
    {% endif %}
    <form class="mailchimp-form">
        <div class="form-group">
            <label for="mailchimp-email" class="sr-only">{{ __("E-Mail", THEMENAME) }}</label>
            <input id="mailchimp-email" name="email" type="email" class="form-control" placeholder="{{ __("Enter your e-mail address", THEMENAME) }}" required>
            <button type="submit" class="btn">{{ __("Subscribe", THEMENAME) }}</button>
        </div>
        <p class="alert alert-success" style="display: none;">{{ __("Thanks! You are now subscribed to the newsletter", THEMENAME) }} </p>
        <p class="alert alert-danger" style="display: none;">{{ __("Sorry! There was a problem subscribing", THEMENAME) }}</p>
    </form>
</div>