<!-- language selector -->
<ul class="nav navbar-nav navbar-right languages-menu">
    {% if languages.length < 3 %}
        {% for language in languages if not language.active %}
            <img src="{{ language.country_flag_url|e('html_attr') }}" title="{{ language.translated_name|e('html_attr') }}">&nbsp;{{ language.native_name|e }}
        {% endfor %}
    {% else %}
        <li class="dropdown">
            <a id="language-selector" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% for language in languages if language.active %}
                    <img src="{{ language.country_flag_url|e('html_attr') }}" title="{{ language.translated_name|e('html_attr') }}">&nbsp;{{ language.native_name|e }}
                {% endfor %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="language-switcher">
                {% for language in languages %}
                    <li>
                        <a href="{{ language.url|e('html_attr') }}"><img src="{{ language.country_flag_url|e('html_attr') }}" title="{{ language.translated_name|e('html_attr') }}">&nbsp;{{ language.native_name|e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>