<nav class="post-meta">
    <ul class="fa-ul">
        <li class="post-author"><i class="fa fa-li fa-user"></i> {{ __("By", THEMENAME) }} <a href="{{ post.author.path|relative|e('html_attr') }}">{{ post.author.name|e }}</a></li>
        <li class="post-time"><i class="fa fa-li fa-clock-o"></i> {{ __("On", THEMENAME) }} <time datetime="{{ post.post_date|date('c') }}">{{ post.display_date }}</time></li>
        <li class="post-category"><i class="fa fa-li fa-tag"></i> {{ __("In", THEMENAME) }} {{ function('the_category')|e }}</li>
    </ul>
</nav>