<!-- search -->
<div itemscope itemtype="http://schema.org/WebSite" class="search">
    <meta itemprop="url" content="{{ site.url }}">
    <form id="search-form" method="get" class="search-form {{ class|e('html_attr') }}" action="{{ esc_url(function('home_url', '/')) }}" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
        <div class="input-group">
            <meta itemprop="target" content="{{ site.url }}?s={search_term_string}">
            <label for="s" class="sr-only">{{ __("Search", THEMENAME) }}</label>
            <input id="s" name="s" type="text" value="{{ get_search_query()|e('html_attr') }}" placeholder="{{ __("Search", THEMENAME) }}" class="form-control" itemprop="query-input">
            <span class="input-group-btn">
                <button id="search-submit" type="submit" class="btn"><span class="fa fa-search"></span> {{ __("Search", THEMENAME) }}</button>
            </span>
        </div>
    </form>
</div>
