<!-- search -->
<form id="search-form" role="search" method="get" class="search-form" action="{{ esc_url(function('home_url', '/')) }}">
    <div class="form-group">
        <label for="s" class="sr-only">{{ __("Search", THEMENAME) }}</label>
        <input id="s" name="s" type="text" value="{{ get_search_query() }}" placeholder="{{ __("Search", THEMENAME) }}" class="form-control">
        <button id="search-submit" type="submit" class="btn">{{ esc_attr("Search", THEMENAME) }}</button>
    </div>
</form>