<ul class="social-links fa-ul {{ class }}">
    {% if facebook %}
        <li>
            <a href="{{ facebook }}" target="_blank" title="Twitter"><i class="fa fa-facebook-square"></i></a>
        </li>
    {% endif %}

    {% if twitter %}
        <li>
            <a href="{{ twitter }}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
        </li>
    {% endif %}

    {% if linkedin %}
        <li>
            <a href="{{ linkedin }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
        </li>
    {% endif %}

    {% if xing %}
        <li>
            <a href="{{ xing }}" target="_blank" title="Xing"><i class="fa fa-xing-square"></i></a>
        </li>
    {% endif %}

    {% if medium %}
        <li>
            <a href="{{ medium }}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a>
        </li>
    {% endif %}

    {% if instagram %}
        <li>
            <a href="{{ instagram }}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
        </li>
    {% endif %}

    {% if website %}
        <li>
            <a href="{{ website }}" target="_blank" title="Website"><i class="fa fa-bookmark"></i></a>
        </li>
    {% endif %}
</ul>