<!-- vimeo embed -->
<div class="embed-container">
    <iframe src="http://player.vimeo.com/video/{{ id|e('html_attr') }}?badge={{ badge|e('html_attr')|0 }}&byline={{ byline|e('html_attr')|0 }}&color={{ color|e('html_attr')|'000' }}&loop={{ loop|e('html_attr')|0 }}&player_id={{ player_id|e('html_attr')|'' }}&portrait={{ portrait|e('html_attr')|0 }}&title={{ title|e('html_attr')|'' }}&autoplay={{ autoplay|e('html_attr')|0 }}&autopause={{ autopause|e('html_attr')|1 }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>