<!-- vimeo embed -->
<div class="embed-container">
    <iframe src="http://player.vimeo.com/video/{{ id }}?badge={{ badge|0 }}&byline={{ byline|0 }}&color={{ color|'000' }}&loop={{ loop|0 }}&player_id={{ player_id|'' }}&portrait={{ portrait|0 }}&title={{ title|'' }}&autoplay={{ autoplay|0 }}&autopause={{ autopause|1 }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>